.clear::before,.clear::after {
    content: "";
    display: table;
    clear: both;
        }
body{
    height: 100%;
    width: 100%;
    position:absolute;
}
.head{
    height:20%;
    width: auto; 
}
.main{
    height:70%;
    width: auto; 
    background-color:#5352ed;
   
}
.footer{
    height:10%;
    width: auto; 
}

.welcome_word{
    display: block;
    color:#ffffff;
    font-family: "Open Sans",poppin,'PingFang SC',"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}
.inputtype{
    display:block;
    background-color:transparent;
    border: none;
    border-bottom:2px solid white ;
    height: 64px;
    width: 320px;
    margin:60px auto;
    color: #9e9e9e;
    text-align: center;
    letter-spacing: 10px;
    line-height: 2;
    font-size: 50px;
}
.banner_show_btn {
    display:block;
    width: 320px;
    height: 64px;
    line-height: 64px;
    font-size: 34px;
    text-align: center;
    margin: 0 auto;
    border-radius: 99px;
    background-color:#3742fa;
    color: #fff;
    overflow: hidden;
}