.clear::before,.clear::after {
    content: "";
    display: table;
    clear: both;
        }
body{
    height: 100%;
    width: 100%;
    position:absolute;
}
.head{
    height:20%;
    width: auto; 
}
.main{
    height:70%;
    width: auto; 
    background-color:#5352ed;
    padding-top: 30px;
    
}
.footer{
    height:10%;
    width: auto; 
}

.welcome_word{
    display: block;
    color:#3742fa;
    font-family: "Open Sans",poppin,'PingFang SC',"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    padding-top: 50px;
}

.input-group{
    height: 540px;
    width: 400px;
    padding-top: 30px;
    background-color: white;
    box-shadow: 0px 1px 6px #3742fa;
    padding-top: 80px ;
    padding-bottom: 0px;
    margin: 0px auto;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    line-height: 1.5;
    
}
.input-info{
    width: 281px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 50px auto;
    display: block;
    border: 1px solid #3742fa;
    text-indent:15px
   
}

.banner_show_btn {
    display:block;
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 34px;
    text-align: center;
    margin: 0 auto;
    border-radius: 99px;
    background-color:#3742fa;
    color: #fff;
    overflow: hidden;
    margin-top:100px ;   
}